*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: .3s;
}

html{
    scroll-behavior: smooth;
}

:root {
    --primary-color: #fea116;
    --white-color: #f1f8ff;
    --darkblue-color: #0f172b;
}

ul li {display: inline-block;}

h1, h2, h3, .logo {font-family: 'Nunito', sans-serif;}

p, a, footer{font-family: 'Heebo', sans-serif;}

section {padding: 40px 20px 0 20px;}

main {background: var(--white-color);}

hr {margin: 10px 0;}

h4 {
    font-family: 'Pacifico', sans-serif;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.logo{
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 700;
}

/* Header  */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #222;
    position: fixed;
    width: 100%;
}

.header .navbar ul li a{
    margin-left: 10px;
    text-transform: uppercase;
    color: #ccc;
    font-size: 1.1rem;
}
.header .navbar ul li a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

/* Sección inicio  */
.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(../img/bg-banner.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 90px;
}

.inicio .contenedor{
    text-align: center;
    max-width: 70%;
    padding: 20px 0;
}

.inicio .contenedor h1{
    font-size: 3.9rem;
    color: #fff;
    margin-bottom: 20px;
}

.inicio .contenedor p{
    color: #eee;
    font-size: 17px;
}

/* Sección servicios */
.servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.servicios .caja{
    width: 19rem;
    height: 28rem;
    background: #fff;
    border-radius: 20px;
    padding: 25px 20px;
}

.servicios .caja #icono{
    font-size: 50px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.servicios .caja h2{
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.servicios .caja p{
    color: #444;
    font-size: 1rem;
}

/* Sección nosotros */
.nosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.nosotros .contenedor-img{
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 15rem 15rem;
    gap: 1rem 2rem;
    width: 35rem;
}

.img-caja:nth-child(2), 
.img-caja:nth-child(3){
    height: 11rem;
    width: 11rem;
}
.img-caja:nth-child(2){
    align-self: flex-end;
} 

.img-caja:nth-child(3){
    justify-self: flex-end;
}

.nosotros .contenedor-img .img-caja img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nosotros .contenedor-txt{
    width: 35rem;
}

.nosotros .contenedor-txt h4{
    font-size: 1.4rem;
}

.nosotros .contenedor-txt h2 i{
    color: var(--primary-color);
}

.nosotros .contenedor-txt h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.nosotros .contenedor-txt p{
    color: #444;
    font-size: 1rem;
}

/* Sección menu  */
.menu h4, .menu h2{
    text-align: center;
    font-size: 1.7rem;
}

.menu .contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu .contenedor .izquierda,
.menu .contenedor .derecha{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu .contenedor .carta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.menu .contenedor .carta img{
    height: 7.5rem;
}

.menu .contenedor .carta .txt-menu h3{
    font-size: 1.5rem;
}

.menu .contenedor .carta .txt-menu p{
    font-size: 1rem;
    color: #444;
}

.menu .contenedor .carta .info-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .contenedor .carta .info-menu .precio{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
}

/* Sección Contacto  */
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0;
} 

.contacto .contenedor-img{
    width: 50vw;
    height: 32rem;
}

.contacto .contenedor-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacto .contenedor-form{
    width: 50vw;
    background: var(--darkblue-color);
    padding: 20px;
    height: 32rem;
}

.contacto .contenedor-form h2{
    color: var(--primary-color);
    font-size: 1.3rem;
}

.contacto .contenedor-form h3{
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.contenedor-form .contact-form{
    width: 100%;
}

.contenedor-form .contact-form label{
    color: #eee;
    font-family: 'Heebo';
    font-size: 1.1rem;
    font-weight: 300;
}

.contenedor-form .contact-form .caja-input{
    width: 100%;
}

.contenedor-form .contact-form .top{
    display: flex;
    gap: 7px;
    margin-bottom: 20px;
}
.contenedor-form .contact-form .bottom{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#datos-input, #consulta {
    border: none;
    outline: none;
    resize: none;
    font-family: 'Heebo';
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 4px;
    height: 2.8rem;
    margin-top: 5px;
}

#consulta{
    height: 9rem;
}

#btn{
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
}
#btn:hover{
    background: #c47c11;
}

/* Sección final  */
.seccion-final {
    text-align: center;
}

.seccion-final h4,
.seccion-final h2{
    font-size: 1.5rem;
}
.seccion-final h3{
    font-size: 1.2rem;
}

.seccion-final .contenedor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.seccion-final .contenedor .caja{
    background: #fff;
    padding: 50px 30px;
    margin: 40px 0;
    width: 18rem;
    border-radius: 5px;
}

.caja .cheff img{
    border-radius: 50%;
    height: 11rem;
    margin-bottom: 15px;
}

/* Footer */
footer{
    background: var(--darkblue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px;
    color: #fff;
}

footer .caja{
    width: 18rem;
    height: 10rem;
    padding: 10px;
}

footer .footer-contacto{
    display: inline-block;
}

footer .info a{
    color: #fff;
    text-decoration: underline;
    margin-right: 10px;
    font-size: 1rem;
}

footer h4{
    font-size: 1.3rem;
}

footer .caja p{
    font-size: 1rem;
}

footer .redes a{
    color: #fff;
    font-size: 2rem;
    margin-right: 15px;
}



/* Responsive */
@media screen and (max-width: 850px) {
    .header{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .logo{
        font-size: 1.8rem;
    }

    /* Inicio responsive */
    .inicio .contenedor {
        max-width: 90%;
    }
    .inicio .contenedor h1 {
        font-size: 3rem;
    }
    .inicio .contenedor p {
        font-size: 15px;
    }

    /* Servicios responsive */
    .servicios .caja {
        height: fit-content;
    }
    .servicios .caja p {
        font-size: 15px;
    }

    /* Nosotros responsive */
    .nosotros {
        text-align: center;
    }
    .nosotros .contenedor-img {
        display: none;
    }
    .nosotros .contenedor-txt p {
        font-size: 15px;
        margin-bottom: 30px;
    }

    /* Menu responsive */
    .menu .contenedor .carta img {
        height: 6rem;
    }
    .menu .contenedor .carta .info-menu .precio {
        font-size: 1rem;
    }
    .menu .contenedor .carta .txt-menu p {
        font-size: 15px;
    }
    .menu .contenedor .carta .txt-menu h3 {
        font-size: 1.2rem;
    }

    /* Contacto responsive  */
    .contacto .contenedor-img {
        display: none;
    }
    .contacto .contenedor-form {
        width: 100%;
    }
    .contenedor-form .contact-form .top {
        flex-direction: column;
    }
    .contacto .contenedor-form {
        height: fit-content;
    }

    /* Footer responsive */
    footer h4 {
        font-size: 1.1rem;
    }
    footer .caja {
        height: 9rem;
    }
    footer .info a,footer .caja p {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    #menu-btn{font-size: 2.2rem;}

    .logo {font-size: 1.5rem;}

    .header {
        padding: 15px 5px;
        gap: .7rem;
    }

    .header .navbar ul li a {
        font-size: 16px;
   }

    .inicio {
        min-height: 100vh;
    }

    .inicio .contenedor {max-width: 100%;}

    .inicio .contenedor h1 {font-size: 2.2rem;}

    .servicios .caja #icono {font-size: 43px;}

    .contacto .contenedor-form h3 {font-size: 1.3rem;}

    .contacto .contenedor-form h2 {font-size: 1.1rem;}

    .contenedor-form .contact-form label{font-size: 1rem;}

    #datos-input, #consulta, #btn {font-size: 15px;}

    .seccion-final .contenedor .caja {
        padding: 40px 30px;
        margin: 20px 0;
    }
}